/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.main-wrapper,nav,.header-info,.tagline-container,.content-1,
.content-2{
	display: flex;
}

.main-wrapper {
	flex-direction: column;
	max-width: 960px;
	margin:25px auto;
}

header {
	border-bottom: 1px solid grey;
	margin-bottom: 24px;
}

nav {
	justify-content: space-between;
	flex-wrap: wrap;
	height: 40px;
	padding: 4px;
	/* position:fixed;
	top:0; */
}


.links {
	justify-content: space-around;
	align-content: center;
}

.links a{
	color:grey;
	text-decoration: none;
	margin: 10px;
	padding-right: 20px;
}

.links a:hover {
	color:cornflowerblue;
}

h1 {
	font-size: 68px;
	margin: auto;
}


.header-info {
	justify-content: space-evenly;
	align-items: center;
	margin: 36px 0;
	padding: 4%;
}

.tagline-container{
	width: 50%;
	flex-direction: column;
	text-align: center;
}

.header-cta {
	font-size: 18px;
	color:grey;
	background: transparent;
	border: 1px solid black;
	width: 35%;
	margin:16px auto;
 }

.header-cta:hover {
	background-color: fuchsia;
	color:whitesmoke;
	transform: scale(1.5);
}

.content-1 {
	justify-content: space-between;
	margin-bottom: 36px;
}

.content-1 div {
	width: 45%;
}


.content-2 {
	margin-top: 36px;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	padding-bottom: 36px;
}

.content-2 div {
	width: 33%;	
}

 .contact {
	 margin-top: 24px;
	padding: 12px;
	line-height: 1.5;
} 

.contact h2{
	margin: 0;
}

 footer div {
	text-align: center;
 }
.copyright {
   padding: 12px;
   font-size: small;
   margin: 2%;
}



/***** start services page styles *******/

img.services-header-img {
	width:960px;
}

.services-header-img-container{
	margin-top: 32px;
	display:flex;
	justify-content: center;
}

.services-header-info {
	margin: 32px 0;
	line-height: 1.8;
}

.content{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
	margin: 24px 0;
	border-bottom: 2px solid grey;
}

.content-info{
	width: 48%;
	border:1px solid black;
	margin-bottom: 24px;
	padding: 12px;
	background: GhostWhite;
	
}

.content-info p{
	line-height: 1.5;
}

.lm-btn {
	background: aliceblue;
	border:1px solid black;
	align-self: flex-end;
	width:125px;
	height:35px;
	margin-top:12px;
	border-radius: 4px;
}

.facts {
	display:flex;
	margin: 24px;
	justify-content: space-between;
}

.facts-info{
	width: 50%;
	padding-right: 36px;
}

.facts-info ul{
	padding: 24px;
	list-style-type: disc;
}


/*** product page styles ***/
.product-header-img {
	max-height:400px;
}

form input{
	margin: 8px;
}

.color-info{
	display:flex;
	flex-wrap: wrap;
	border:none;
	width: 250px;
}

.color-info div{
	width: 65px;
	height: 65px;
	border:1px solid grey;
	margin: 2px;
}

.color-info div.box-blue{
	background-color: blue;
}

.color-info div.box-green{
	background-color: green;
}

.color-info div.box-blue{
	background-color: blue;
}

.color-info div.box-red{
	background-color: red;
}

.color-info div.box-orange{
	background-color: orange;
}

.color-info div.box-black{
	background-color:black;
}

.color-info div.box-purple{
	background-color:purple;
}

.other-stuff{
	display:flex;
	justify-content: space-around;
}

.stuff-div{
	display:flex;
	flex-direction: column;
	width: 33%;
	line-height: 2;
}

.stuff-div a{
	text-decoration: none;
	color:grey;
	text-align: center;
}



